.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Navbar {
    border: 3px solid purple;
    margin-bottom: 4rem;
}

.OnBoard {
    border: 2px solid purple;
}