.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    width: 25rem;
    min-height: 15rem;
    height: auto;
    padding: 2rem;
    margin: 2rem;
    background-color: #FEFEFD;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgb(0, 0, 0);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

select {
    width: 86%;
}

table {
    width: 100%;
}

/* Buttons */
button {
    z-index: 1;
    position: relative;

    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
  }
  
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(199, 221, 204, 0.75);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  button:hover {
    cursor: pointer;
  }
  
  button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }
button {
    border: none;
    background-color: #157D7C; 
    color: white;
    height: 5rem;
    width: 13rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgb(0, 0, .3);
    position: absolute;
    margin-top: 15rem;
}


.signup-btn {
    margin-top: 26rem;
}

.minor {
    background-color: #157D7C; 
    height: 3rem;
    width: 8rem;
    position: absolute;
    /* margin-top: 19rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 6px 20px 0 rgb(0, 0, .3);
}

.goal {
    margin-top: 19rem;
} 

.sub {
    margin-top: 23.5rem;
}

.mealsub {
    margin-top: 12rem;
}

.cancel {
    margin-top: -3rem;
    margin-left: 12rem;
    width: 3rem;
    color: #FEFEFD;
    background-color: rgba(200, 16, 16); 
}
.cancel::before {
    background-color: #172328; 
  }
 .cancel:hover {
    background-color:rgba(200, 16, 16); 
} 

.switch {
    color:#157D7C;
}
.switch:hover {
    color: #C7DDCC;
    cursor: pointer;
}

