.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    width: 20rem;
    height: auto;
    min-height: 22rem;
    /* width: 100%; */
    padding: 2rem;
    margin: 2rem;
    background-color: #FEFEFD;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgb(0, 0, 0);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

select {
    width: 86%;
}

button {
    border: none;
    background-color: #157D7C; 
    color: #C7DDCC;
    height: 3rem;
    width: 11rem;
}